<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link type="text/css" rel="stylesheet/less" href="style.less">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <script src="test-character.js"></script>

    <title>Character Sheets</title>
</head>
<body>
    <div id="sheet" class="sheet dnd5e">
        <h1 v-on:click="accordion($event)">{{ allCharacters[currentCharacter].name }}
            <small class="classes">{{ allCharacters[currentCharacter].class }}</small>
            <button v-if="allCharacters[currentCharacter].hp.temp" class="hp">{{ allCharacters[currentCharacter].hp.max - allCharacters[currentCharacter].hp.missingHp }} + {{ allCharacters[currentCharacter].hp.temp }} / {{ allCharacters[currentCharacter].hp.max }}<small>Hit Points</small></button>
            <button v-else class="hp">{{ allCharacters[currentCharacter].hp.max - allCharacters[currentCharacter].hp.missingHp }} / {{ allCharacters[currentCharacter].hp.max }}<small>Hit Points</small></button>
        </h1>
        <section class="hp-edit">
            <div class="hp-ticker">
                <button v-on:click="hpDown" class="icon button down">-<small>HP Down</small></button>
                <span>
                    Current HP:<br/>
                    <span v-if="allCharacters[currentCharacter].hp.temp" class="hp-value">{{ allCharacters[currentCharacter].hp.max - allCharacters[currentCharacter].hp.missingHp }} + {{ allCharacters[currentCharacter].hp.temp }} Temp</span>
                    <span v-else class="hp-value">{{ allCharacters[currentCharacter].hp.max - allCharacters[currentCharacter].hp.missingHp }}</span>
                    <span class="hp-max"> / {{ allCharacters[currentCharacter].hp.max }}</span>
                </span>
                <button v-on:click="tempHpUp" class="icon button temp">+<small>Temp HP</small></button>
                <button v-on:click="hpUp" class="icon button up">+<small>HP Up</small></button>
            </div>
            <hr/>
            <div class="saving-throws">
                <div class="successes">
                    <span>Successes</span>
                    <input type="checkbox" v-on:change="updateDeathSaves" v-bind:checked="allCharacters[currentCharacter].deathSaves.successes >= 1" />
                    <input type="checkbox" v-on:change="updateDeathSaves" v-bind:checked="allCharacters[currentCharacter].deathSaves.successes >= 2" />
                    <input type="checkbox" v-on:change="updateDeathSaves" v-bind:checked="allCharacters[currentCharacter].deathSaves.successes >= 3" />
                </div>
                <div class="failures">
                    <span>Failures</span>
                    <input type="checkbox" v-on:change="updateDeathSaves" v-bind:checked="allCharacters[currentCharacter].deathSaves.failures >= 1" />
                    <input type="checkbox" v-on:change="updateDeathSaves" v-bind:checked="allCharacters[currentCharacter].deathSaves.failures >= 2" />
                    <input type="checkbox" v-on:change="updateDeathSaves" v-bind:checked="allCharacters[currentCharacter].deathSaves.failures >= 3" />
                </div>
            </div>
            <hr/>
            <div class="condition">
                Conditions:
                <select v-on:scroll.prevent="noscroll($event)" v-model="allCharacters[currentCharacter].conditions" multiple size="1">
                    <option value="" disabled>Select</option>
                    <option value="Blinded">Blinded</option>
                    <option value="Charmed">Charmed</option>
                    <option value="Deafened">Deafened</option>
                    <option value="Exhaustion">Exhaustion</option>
                    <option value="Frightened">Frightened</option>
                    <option value="Grappled">Grappled</option>
                    <option value="Incapacitated">Incapacitated</option>
                    <option value="Invisible">Invisible</option>
                    <option value="Paralyzed">Paralyzed</option>
                    <option value="Petrified">Petrified</option>
                    <option value="Poisoned">Poisoned</option>
                    <option value="Prone">Prone</option>
                    <option value="Restrained">Restrained</option>
                    <option value="Stunned">Stunned</option>
                    <option value="Unconscious">Unconscious</option>
                </select>
            </div>
            <div class="condition-info" v-show="allCharacters[currentCharacter].conditions.length">
                <ul>
                    <li v-for="condition in allCharacters[currentCharacter].conditions">{{ condition }}</li>
                </ul>
            </div>
        </section>
        <section class="key">
            <ul>
                <li>{{ allCharacters[currentCharacter].armorClass }}<small>Armor Class</small></li>
                <li>{{ 10 + wisMod + (allCharacters[currentCharacter].proficiencies.skills.perception ? allCharacters[currentCharacter].profBonus : 0) }}<small>Passive Perception</small></li>
                <li>{{ allCharacters[currentCharacter].speed }} ft<small>Speed</small></li>
                <li>+{{ allCharacters[currentCharacter].profBonus }}<small>Proficiency Bonus</small></li>
            </ul>
        </section>
        <section class="initiative">
            <ul>
                <li class="accordion closed"><span class="name">Initiative</span><span class="mod">+{{ dexMod }}</span><span class="proficient"></span><button class="roll init">Roll</button></li>
            </ul>
        </section>
        <section class="attacks">
            <h2 class="accordion">Attacks</h2>
            <ul>
                <li v-for="attack in allCharacters[currentCharacter].attacks">
                    <span class="name">{{ attack.name }}</span>
                    <span class="mod">{{ attack.toHit }}</span>
                    <span class="dmg">{{ attack.damage }}</span>
                    <button class="roll to-hit">To Hit</button>
                    <button class="roll to-hit">Damage</button>
                </li>
            </ul>
        </section>
        <section class="saves">
            <h2 class="accordion">Saves</h2>
            <ul>
                <li v-for="stat in ['Strength','Dexterity','Constitution','Intelligence','Wisdom','Charisma']">
                    <span class="name">{{ stat }}</span>
                    <span class="mod">{{ getMod(stat, true)}}</span>
                    <span class="proficient"><template v-if="isProficient(stat)">&bull;</template></span>
                    <button class="roll">Roll</button>
                </li>
            </ul>
        </section>
        <section class="skills">
            <h2 class="accordion">Skills</h2>
            <ul>
                <li v-for="(skill, key) in allCharacters[currentCharacter].proficiencies.skills">
                    <span class="name">{{ key.replace(/([A-Z])/g, ' $1').replace(/^./, function(str){return str.toUpperCase();}) }}</span>
                    <span class="mod">{{ getMod(key, true) }}</span>
                    <span class="proficient"><template v-if="isProficient(key)">&bull;</template></span>
                    <button class="roll">Roll</button>
                </li>
            </ul>
        </section>
    </div>

    
    <script src="script.js"></script>
</body>
</html>