* { margin: 0; padding: 0; box-sizing: border-box; font-family: Roboto, sans-serif; }
body {
    background-color: #787777;
    background-image: url('background.png');
}
h1,h2 { font-family: Lato, sans-serif; }
small { font-size: 10px; text-transform: uppercase; }
@keyframes rollReset {
    from {background-position-x: -100%;}
    to {background-position-x: 0%;}
}
.sheet, h1, h2, section.hp-edit, section ul { padding: 10px; }
.sheet {
    max-width: 500px;
    margin: 0 auto;
    > * { background: rgba(255,255,255,0.7); }
    > * + * { margin-top: 10px; }
}
h1 {
    display: flex;
    align-items: flex-end;
    .classes { margin: 0 0 5px 10px; }
    .hp {
        margin-left: auto;
        width: 33%;
        flex-direction: column;
    }
}
section ul {
    list-style: none;
    > * { padding: 5px 0; }
    > *+* { border-top: 1px solid #999; }
    li { align-items: center; }
    li, .details {
        display: grid;
        grid-template-columns: 35% auto auto 20% 20%;
        grid-gap: 5px;
        > * {
            grid-column: span 1;
            width: 100%;
            white-space: nowrap;
        }
        .proficient {
            color: green;
            font-size: 130%;
            line-height: 20px;
        }
    }
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    overflow: hidden;
    &:not(.to-hit):not(.for-dmg) { grid-column: span 2; }
    &.roll--active {
        background: linear-gradient(to left, #ccc, #ccc 50%, #fff 51%, #fff 100%);
        background-size: 200% 100%;
        animation: rollReset 10s linear;
    }
    .roll-result { font-weight: bold; }
}
section.hp-edit {
    margin-top: 0;
    hr { margin: 10px 0; }
    .hp-ticker {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            margin: 0 auto;
            font-size: 0.6em;
            text-transform: uppercase;
        }
        .hp-value, .hp-max { font-size: initial; }
        button {
            flex-direction: column;
            width: 15%;
            font-size: 2em;
            padding: 3px;
            white-space: nowrap;
            &.up { margin-left: 5px; }
        }
    }
    .saving-throws {
        columns: 2;
        column-rule: 1px solid;
        > div {
            display: flex;
            flex-wrap: wrap;
            margin: 0 10px;
        }
        span { width: 100%; margin-bottom: 5px; }
        input[type="checkbox"] {
            width: 30px; height: 30px;
            margin-right: 10px;
        }
    }
    .condition {
        display: flex;
        align-items: center;
        select {
            flex-grow: 1;
            padding: 5px;
            margin-left: 20px;
            option + option { margin-top: 5px; }
        }
    }
    .condition-info { margin-top: 10px; }
}
section.key ul {
    display: flex;
    li {
        border: none;
        width: 25%;
        display: flex;
        flex-direction: column;
        text-align: center;
        small {
            margin-top: 5px;
            white-space: normal;
        }
    }
}